.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main_header {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(./img/bkg.jpg);
  background-size: 100% auto;
}

.visit_card {
  position: relative;
  width: 220px;
  height: 120px;
  padding: 10px 15px 15px 10px;
  margin-top: 40px;
  border-radius: 2px;
  background: url(./img/texture.jpg);
  background-size: cover;
  box-shadow: 
  /* top shadow */
  0px -10px 10px rgba(0,0,0,0.2),
  /* bottom shadow */
  0px 10px 20px rgba(0,0,0,0.4),
  /* left shadow */
  -10px 0px 20px rgba(0,0,0,0.4),
  /*right shadow */
  10px 0px 20px rgba(0,0,0,0.4),
  /* inner shadow */
  inset 1px 1px 20px rgba(0,0,0,0.4)
  ;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: 0.5s;
}

.logo {
  width: 20px;
  height: 20px;
  background: url(./img/gold-texture.jpg);
  background-size: cover;
  mask: url(./img/logo.png);
  -webkit-mask: url(./img/logo.png);
}

.card_title {
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 3px;
  color: transparent;
  background: url(./img/gold-texture.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
  text-align: center;
}

.back .card_title {
  font-size: 14px;
  word-spacing: 3px;
  background:url(./img/silver-texture.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
}

.card_text {
  font-size: 12px;
  background:url(./img/gold-texture.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
}

.visit_card.back .right {
  position: absolute;
  width: 200px;
  right: 10px;
  bottom: 20px;
  font-size: 10px;
  font-weight: 700;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  background:url(./img/silver-texture.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
}

.visit_card.back .left {
  position: absolute;
  left: 30px;
  top: 25px;
  color:transparent;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.visit_card.front {
  transform: rotateZ(-7deg);
  left: -5%;
}

.visit_card.back {
  transform: rotateZ(4deg);
  left: 5%;
  top: -2%;
}

.info_cards {
  width: 100vw;
  height: 10vh;
  background: linear-gradient(rgba(124, 124, 124, 0.6), rgba(0, 0, 0, 0.8));
  position: relative;
}

.info_cards_wrapper {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: -60%;
}

.info_card {
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
  width: 30%;
  background: url(./img/texture.jpg);
  background-size: cover;
  box-shadow: 
  /* top shadow */
  0px -10px 10px rgba(0,0,0,0.2),
  /* bottom shadow */
  0px 10px 20px rgba(0,0,0,0.4),
  /* left shadow */
  -10px 0px 20px rgba(0,0,0,0.4),
  /*right shadow */
  10px 0px 20px rgba(0,0,0,0.4),
  /* inner shadow */
  inset 1px 1px 20px rgba(0,0,0,0.4)
  ;
  border-radius: 2px;
  justify-content: center;
}

.info_card .right {
  right: 10px;
  bottom: 20px;
  font-size: 10px;
  font-weight: 700;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  background:url(./img/silver-texture.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
}

/* Слайдер */
body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
}

.slider_container {
  position: relative;
  height: 90vh;
  width: 100%;
  top: 60px;
  display: flex;
  justify-content: center;
}

.slider_card {
  display: flex;
  height: 150px;
  width: 100px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.slider_card:not(:first-child) {
    margin-left: -50px;
}

.slider_img {
  width: 100%;
  height: 100%;
}

.slider_card_active {
  transition: 0.6s ease-out;
  height: 280px;
  width: 220px;
  transform: translateY(30vh);
}

.slider_card:first-child.slider_card_active {
  transform: translateY(30vh) translateX(30%);
}

.slider_card:last-child.slider_card_active {
  transform: translateY(30vh) translateX(-30%);
}

.how_to_wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/how-to-background.jpg);
  background-size: contain;
  position: relative;
}

.how_to_card {
  position: relative;
  width: 250px;
  height: 400px;
/*   background-color: red; */
  box-shadow: 
  /* top shadow */
  0px -10px 10px rgba(0,0,0,0.2),
  0px -10px 10px rgba(0,0,0,0.2),
  /* bottom shadow */
  0px 10px 20px rgba(0,0,0,0.4),
  0px 10px 20px rgba(0,0,0,0.4),
  /* left shadow */
  -10px 0px 20px rgba(0,0,0,0.4),
  -10px 0px 20px rgba(0,0,0,0.4),
  /*right shadow */
  10px 0px 20px rgba(0,0,0,0.4),
  10px 0px 20px rgba(0,0,0,0.4),
  /* inner shadow */
  inset 2px 2px 20px rgba(0,0,0,0.4),
  inset 2px 2px 20px rgba(0,0,0,0.4)
  ;
  animation-duration: 2s;
  animation-name: appear;
}

.text {
  position: absolute;
  width: 80%;
  left: 15px;
  top: 10px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(167, 167, 167);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  background:url(https://i.imgur.com/fjrLe36.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
}

.invisible {
  display: none;
}

.active_slide {
  display: block;
}

.how_to_left {
  width: 10%;
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  text-align: center;
  align-content: center;
  padding-top: 50vh;
  box-sizing: border-box;
}

.how_to_right {
  /* border: 1px solid green; */
  width: 10%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  color: white;
  text-align: center;
  padding-top: 50vh;
  box-sizing: border-box;
}

.display_none {
  display: none;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.examples_wraper {
  width: 100%;
  height: 100vh;
}

.examples_container {
  width: 100%;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
}

.example_show {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
}

.example_img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.before_img {
  clip: rect(auto, 0px, auto, 0px)
}

.after_img {
  clip: rect(auto, 0px, auto, 0px)
}

.ex_show_interface {
  height: 38px;
  width: 38px;
  position: absolute;
  /* left: 50%; */
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid #fff;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  z-index: 40;
  cursor: pointer;
}

.ex_show_interface::before {
  bottom: 50%;
  margin-bottom: 22px;
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px;
  content: " ";
  display: block;
  background: #fff;
  position: absolute;
  z-index: 30;
}

.ex_show_interface::after {
  top: 50%;
  margin-top: 22px;
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px;
  content: " ";
  display: block;
  background: #fff;
  position: absolute;
  z-index: 30;
}




